
body{
	color:#696969;
	background-color: #F5F5DC;
	
	font-family: verdana, arial, sans-serif;
	text-align:justify;
}

main{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section{
	display: flex;
	flex-flow: row wrap;
	/* flex-wrap:wrap; */
	/* align-items:stretch; */
	justify-content: center;
}

/* El header 70% y flota a su izquierda*/ 
article {
	width:80%;
	float:left;
}

section article{
	display: flex;
	flex-direction:row;
    /* flex-wrap:wrap; */
	/* justify-content: space-around; */
  }

section article section{
	flex-direction: column;
	margin-left: 2%;
}

article section section{
	display: flex;
	justify-content: left;
	align-items: center;
	flex-flow: row wrap;
	/* Eliminamos el margen a la derecha heredado */
	margin-left: 0; 	
}

img{
	margin-top: 2%;
	object-fit: contain;
}

/* Pantalla para tablets */
@media all and (max-width: 800px) {
	
	section{
		justify-content: space-around;
	}
	article {
		width:80%;
		float:left;
	}
	img{
		width: auto;
	}
	section article{		
		flex-direction: column;
	  }
}
/* Pantalla para moviles */
@media all and (max-width: 500px) {
	main {
	  flex-direction: column;
	}
	section {
		flex-direction: column;
	  }
	article {
		width:95%;
		float:left;
	}
  }

/* color inverso */
article{
	color: white;
	background-color: #2F4F4F;
	padding: 0% 2% 1%; 
	margin: 2% 1%;

}

article a{
	color: white;
	text-decoration: none;
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: black;
}



footer ul li a {
	color: white;
}
  
footer {
    background-color: #333;
    position: sticky;
    width: 100%; 
    bottom: 0;
    padding: 1% 0%;

}

.index-0{
	z-index: 0;
}